/* ======= PARTE DA ESQUERDA ======= */

body {
  color: blue;
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}

a {
  color: white;
  text-decoration: none;
}

header img {
  width: 300px;
  height: 300px;
  border-radius: 20%;
  border: 5px solid #000000;
}

.center {
  text-align: center;
}

h1 {
  color: #000000;
}

footer img {
  width: 80px;
  height: 120px;
}


/* ======= PARTE DA DIREITA ======= */

footer {
  display: flex;
  justify-content: center;
}

footer a {
  margin: 40x;
  text-align: center;
}

footer p {
  margin-top: 2px;
}

.container {
  padding: 0px 40px;
}

nav a {
  font-size: 20px;
}

nav a:hover {
  color: #000000;
}

.contact-form input {
  width: 100%;
  padding: 8px 0;
  margin: 8px 0;
}

.contact-form input[type=text] {
  height: 150px;
}

button {
  color: blue;
  background-color: red;
  border: none;
  width: 100px;
  height: 40px;
}
